.story {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-family: inherit;
  background: linear-gradient(
    104.33deg,
    #00a1c7,
    #f5559e 48.39%,
    #fff,
    #ed7d0c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theWorldOf {
  font-weight: 300;
}
.theWorldOfContainer {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 160%;
}
.storysectionheading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.storysectiondescription {
  align-self: stretch;
  position: relative;
  font-size: var(--base-txt-size);
  line-height: 200%;
  font-weight: 200;
  color: var(--color-semantic-color-base-txt);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.texts {
  width: 608px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.tarot11Icon,
.tarot2Icon {
  width: 112px;
  height: 138.2px;
  position: absolute;
  margin: 0 !important;
  top: 178.9px;
  left: 0;
  border-radius: var(--radius-radius-md);
  object-fit: contain;
}
.tarot2Icon {
  width: 109.4px;
  height: 136.4px;
  top: 9.4px;
  left: 13.2px;
}
.mainillustIcon {
  width: 607px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.absoluteillusts {
  width: 696.5px;
  margin: 0 !important;
  position: absolute;
  right: -40px;
  bottom: -222.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3xs);
  max-width: 100%;
  z-index: 1;
}
.container {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--spacing-semantic-spaceing-container-side);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.absolutebottomgradient,
.main {
  align-self: stretch;
  flex-shrink: 0;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--base-txt);
}
.absolutebottomgradient {
  height: 150px;
  position: relative;
  background: linear-gradient(180deg, rgba(15, 23, 42, 0), #0f172a);
}
.sectionStory {
  width: 1512px;
  height: 695px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-204xl-5) 0;
  box-sizing: border-box;
  gap: var(--gap-57xl-5);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .story {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .container {
    gap: var(--gap-2xl);
  }
  .sectionStory {
    gap: var(--gap-19xl);
  }
}
@media screen and (max-width: 450px) {
  .story {
    font-size: var(--font-size-10xl);
    line-height: 29px;
  }
  .theWorldOfContainer {
    font-size: var(--base-txt-size);
    line-height: 26px;
  }
  .sectionStory {
    gap: var(--gap-lgi);
  }
}
